
*{
    margin: 0;
    padding: 0;

 }



 body
 {
     margin: 2%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .main-wrapper
 {
     width: 800px;
     border: 15px solid rgba(0, 0, 0, 0.479);
     border-radius: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(99, 35, 90);
     color: white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
    
 }
  .board-game
  {
      width: 85%;
      margin: 20px 0px;
      border: 10px solid rgba(0, 0, 0, 0.479);
      border-radius: 10px;
      background-color: rgb(117, 43, 114);
      display: flex;
      box-sizing: border-box;
      padding: 0 20px;
      align-items: center;
      justify-content: center;
      
  }
   .dificulity-level
   {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: none;
   }
   .dificulity-level h1
   {
       font-size: 56px;
       font-family: 'Potta One', cursive;
   }
   .chose-dificulity
   {
       display: flex;
       justify-content: space-around;
       width: 100%;
       height: 40%;
      
       align-items: center;
       
   }
   .dificulity
   {
    font-size: 34px;

       
   }
   .dificulity p
   {
       padding: 10px 20px;
       border: 2px solid white;
       border-radius: 20px;
       cursor: pointer;
   }
   .dificulity p:hover
   {
       background-color: rgb(109, 141, 238);
   }

   .game-start
   {
       width: 95%;
       height: 100%;
       display: flex;
       align-items: center;
       flex-direction: column;

   }
    .cards-board
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .setting-container
    {
        display: flex;
        width: 100%;
        justify-content: space-around;
        box-sizing: border-box;
    }
    .reset-option
    {

    }
    .reset-option p
    {
        margin: 0;
        padding: 5px 10px;
        border: 5px solid rgba(0, 0, 0, 0.247);
        border-radius: 10px;
        font-size: 26px;
    }
    .reset-button
    {
        cursor: pointer;
        width: 100px;
        height: 60px;
        border-radius: 25px;
        background: linear-gradient(to right, rgb(230, 151, 33) , rgb(233, 220, 37));
        border: 0;
        border-bottom: 5px solid rgba(156, 108, 53, 0.842);
        margin: 15px 0px;
        color: white;
        font-size: 26px;
    }
    .reset-button:hover
    {
        height: 59px; 
        width: 98px;
    }
    .card
    {
        height: 190px;
        width: 140px;
        border: 5px solid rgb(54, 53, 53);
        margin: 10px;
        background-color: white;
        cursor: pointer;
        background-image: url("profilowe.png");
        background-size: 200px;
        background-position: 50%;
        background-size: 200px;
        background-position: 50%;
       
    }
                #card1{
                    background-image: url("profilowe.png");
                    
                }
                #card2{
                    background-image: url("profilowe2.jpg"); 
                   
                }
                #card3{
                    background-image: url("profilowe3.png");
                    
                }
                #card4{
                    background-image: url("profilowe.png"); /*dfdfd*/
                    
                }
                #card5{
                    background-image: url("profilowe2.jpg");
                   
                }
                #card6{
                    background-image: url("profilowe3.png");
                  
                    
                }
                
   

     .shadow-card
     {
         height: 100%;
         width: 100%;
         background-color: rgb(163, 80, 32);
         display: flex;
         justify-content: center;
         align-items: center;
         border: 10px solid orange;
         box-sizing: border-box;
     }
       .shadow-card h1
       {
         font-size: 50px;
         font-weight: bold;
       }



       @keyframes rotate
       {
        100%{
            transform: rotate3d(1,2,2, 180deg);
            width: 0%;
            height: 0%;
          }

       }
    
       @media (max-width: 714px) {
        .card
        {
            height: 150px;
            width: 110px;
            background-size: 170px;
        }
       }
       @media (max-width: 425px) {
        .card
        {
            height: 130px;
            width: 100px;
            background-size: 140px;
        }
       }
       @media (max-width: 384px) {
        .card
        {
            height: 100px;
            width: 70px;
            background-size: 110px;
         
        }
        .shadow-card
        {
            border: 5px solid rgb(99, 36, 36);
        }
        .main-wrapper
         {
          
          height: 500px;
         }
        }
        @media (max-width: 307px) {
            .card
            {
                height: 85px;
                width: 55px;
                background-size: 95px;
            }
            .main-wrapper
             {
              
              height: 460px;
             }
            }
            @media (max-width: 267px) {
                .card
                {
                    height: 75px;
                    width: 45px;
                    background-size: 85px;
                }
                .main-wrapper
                 {
                  
                  height: 430px;
                 }
                }
                @media (max-width: 239px) {
                    .card
                    {
                        height: 75px;
                        width: 45px;
                        background-size: 85px;
                    }
                    .main-wrapper
                     {
                      
                      height: 700px;
                     }
                    }

       
       
    